<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link id="page-style" rel="stylesheet" href="../static/styles/login.css">
</head>

<body>
    <header>
        <ul>
            <li>
                <h1>IMET</h1>
            </li>
            <li><a href="#registration">Registrácia</a></li>
            <li><a href="#guests">Návštevníci</a></li>
            <li><a href="#history">História čipov</a></li>
            <li><a href="#employees">Zamestnanci</a></li>
            <li><a href="#keys">Vydané kľúče</a></li>
            <li><a onclick="logout(event)">Odhlásenie</a></li>
        </ul>
    </header>
    <main id="app">


    </main>

    <script src="../static/script/registration.js"></script>
    <script src="../static/script/employee.js"></script>
    <script src="../static/script/key.js"></script>
    <script src="../static/script/history.js"></script>
    <script src="../static/script/script.js"></script>
    <script src="../static/script/app.js"></script>
</body>

</html>