<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/history.css">
</head> 
<body>
    <header>
        <ul>
           <li> <h1>IMET</h1> </li>
          
            <li>
                <a href="registration.html">Registrácia</a>
            </li>

            <li>
                <a href="index.html">Návštevníci</a>
            </li>

            <li>
                <a href="#">Zamestnanci</a>
            </li>

            <li>
                <a href="history.html">História vrátenia</a>
            </li>
        </ul>

    </header>
    <main>
    <!-- Tlačidlo, ktoré otvorí modálne okno -->
    <div id="historyInfo" class="historyInfo">

    </div>

    <!-- <br><br><p>Vyhľadať návštevníka(Meno)</p><br>
    <input id="search_input_guests"> <button onclick="search_guest_button()">Hľadať návštevníka</button>

    <br><br><p>Vymazať návštevníka (Čip)</p><br>
    <button onclick="delete_guest_button()">Vymazať návštevníka</button> -->


    <script src="script/history.js"></script>
    </main>
</body>
</html>
