<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head> 
<body>
    <header>
        <h1>IMET</h1>
    </header>
    <main>
        <!-- Tlačidlo, ktoré otvorí modálne okno -->
        
        <div id="personInfo" class="personInfo">

        </div>

      <input id="name_id"> <input id="who_id"> <input type="datetime-local" id="date_id"> <input id="why_id"> <button onclick="add_guest()">Pridať návštevníka</button>
      <br><br><br>
      <input id="search_input_guests"> <button onclick="search_guest_button()">Hľadať návštevníka</button>
      <script src="script/script.js"></script>
    </main>
</body>
</html>
