<!DOCTYPE html>
<html lang="sk">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="styles/history.css">
</head>

<body>
     <header>
          <ul>
               <li>
                    <h1>IMET</h1>
               </li>

               <li>
                    <a href="registration.html">Registrácia</a>
               </li>

               <li>
                    <a href="index.html">Návštevníci</a>
               </li>

               <li>
                    <a href="employee.html">Zamestnanci</a>
               </li>

               <li>
                    <a href="keys.html">Vydané klúče</a>
               </li>

               <li>
                    <a href="history.html">História vrátenia</a>
               </li>
          </ul>

     </header>
     <main>
          <!-- Tlačidlo, ktoré otvorí modálne okno -->
          <div id="historyInfo" class="historyInfo">

          </div>

          <p>Najsť klúč</p>
          <input type="number" id="search_key_id">
          <button id="search_button_id" onclick="search_key()">Nájsť klúč</button>

          <script src="script/key.js"></script>
     </main>
</body>

</html>